{% extends "base.html" %}
{% set show_header = True %}

{% block content %}
    <h2 class="centered">Список постов</h2>
    {% if is_superuser %}
        <a href="/new">Добавить новый пост</a>
    {% endif %}
    <button type="button" onclick="location.href='/'" class="logout-button">Выйти</button>
    {% for post in posts %}
        <div class="post">
            <h2><a href="/posts/{{ post['slug'] }}">{{ post['title'] }}</a></h2>
            <p>{{ post['rezume'] }}</p>
            <p><small>Создано: {{ post['created_at'] }}</small></p>
        </div>
    {% endfor %}
{% endblock %}